<div class="feed-container p-4 bg-gray-900 min-h-screen">
    <h2 class="text-3xl font-bold mb-10 mt-6 text-center text-white">All Posts</h2>
    <div class="outer">
    <div *ngFor="let post of posts" class="mb-4">
      <div class="bg-gray-700 p-4 rounded mt-4">
        
        <div class="p-6 border-b border-gray-700">
          <h3 class="text-xl font-semibold text-white">{{ post.title }}</h3>
        </div>
        <div class="p-6">
          <p class="text-gray-300">{{ post.description }}</p>
        </div>
        <div class="flex justify-end p-4 border-t border-gray-700">
          <button (click)="likePost()" class="bg-blue-600 text-white rounded-lg px-4 py-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            {{ isLiked ? 'Liked' : 'Like' }}
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
   

   